@using HomeDB
@model HomeWeb.Models.FlatListViewModel

@{
    ViewBag.Title = "Flat List";
    //Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
<div class="mainDiv">
    @{
        for (int i = 0; i < 100; i++)
        {
            <div class="mainFlatDiv">
                @if (Model.Flats.Count > i)
                {
                    var imgBase64 = Convert.ToBase64String(Model.Images.FirstOrDefault(p => p.FlatId == i+1).ImageData);
                    <a href="@Url.Action("FlatDetail", "Flat", new {@id = @Model.Flats[i].Id})">
                        <img src=@string.Format("data:image/jpg;base64,{0}", imgBase64) alt="Alternate Text"/>                        
                        @*@Model.Flats[i].Name*@
                    </a>
                    //@Model.Flats[i].Name
                }
            </div>
        }
    }
</div>

