USE [master]
GO
/****** Object:  Database [Flat]    Script Date: 11.01.2018 1:07:37 ******/
CREATE DATABASE [Flat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Flat.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Flat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Flat_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flat]
GO
/****** Object:  Table [dbo].[FlatList]    Script Date: 11.01.2018 1:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlatList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ComplexName] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[NumberFlat] [int] NULL,
	[BuyDate] [datetime] NULL,
	[PhotoId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FlatList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Keys]    Script Date: 11.01.2018 1:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](10) NULL,
	[Description] [nvarchar](250) NULL,
	[UpdatedTime] [datetime] NOT NULL,
 CONSTRAINT [pk_Keys_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[FlatList] ON 

INSERT [dbo].[FlatList] ([Id], [Name], [ComplexName], [Address], [NumberFlat], [BuyDate], [PhotoId], [Status], [CreatedDate]) VALUES (3, N'Akcent1', N'Akcent', N'Glushkova,  9B', 314, CAST(0x0000A80900000000 AS DateTime), NULL, N'Buying', CAST(0x0000A96C00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[FlatList] OFF
SET IDENTITY_INSERT [dbo].[Keys] ON 

INSERT [dbo].[Keys] ([Id], [Name], [Value], [Description], [UpdatedTime]) VALUES (1, N'StartIncomeMonth', N'3000', N'How much income by month on 2018', CAST(0x0000A86401762BEF AS DateTime))
INSERT [dbo].[Keys] ([Id], [Name], [Value], [Description], [UpdatedTime]) VALUES (2, N'MinStorage', N'2000', N'Minimus of storage to just in case', CAST(0x0000A864017EE217 AS DateTime))
INSERT [dbo].[Keys] ([Id], [Name], [Value], [Description], [UpdatedTime]) VALUES (3, N'Price1Flat', N'25000', N'Price for one room of flat', CAST(0x0000A864017F0473 AS DateTime))
SET IDENTITY_INSERT [dbo].[Keys] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_Keys_Name]    Script Date: 11.01.2018 1:07:37 ******/
ALTER TABLE [dbo].[Keys] ADD  CONSTRAINT [U_Keys_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Keys] ADD  DEFAULT (getdate()) FOR [UpdatedTime]
GO
USE [master]
GO
