body {
    font-family: helvetica;
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: palegreen;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 1050px;
    min-height: 800px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


table td{
    width: 150px;
}

.mainBreadCrump {
    margin: 5px 0 0 0;
}

.flatName {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}

.mainDiv {
    width: 1002px;
    margin-left: auto;
    margin-right: auto;
    height: 4002px;
}

.mainCurrentFlatDiv {
    position:relative;
}

.currentFlatDescription {
    float: left;
    min-width: 400px;
}

.currentFlatImage {
    clear:both;
    position:absolute;
    top:0px;
    right:0px;
}

.photoDiv, .nameDiv {
    margin-top: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.nameDiv {
    padding-top: 0px;
    margin-top: 0px;       
    text-align: center;
    color: black;
    font-size: 18px;
    border: 1px solid #DDDDDD;
    width: 100px;
    border-radius: 2px;
}

.nameDiv:hover {
    color: black;
}

.nameSpan {
    
}

.addressSpan {
    color: gray;
    font-size: 12px;
}

.mainFlatDiv a:hover {
    text-decoration: none;
}
.mainFlatDiv {
    width: 180px;
    height: 180px;
    border: solid 1px #fff0f0;
    border-radius: 2px;
    float: left;
    margin: 10px;
}

    .mainFlatDiv img {
        height: 100px;
        width: 100px;
        border: 1px solid #DDDDDD;
        border-radius: 2px;
    }

hr {
    clear: both;
}

footer {
    clear: both;
}

/*JCarousel*/

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
